.container {
    display: flex;
    height: calc(100vh - 80px);
    overflow: scroll;
  }
  
  .container .block {
    flex: 0 0 50%;
    border: 1px solid #a1a1a1;
  }
  
  .container .block.proptypes {
    padding: 15px;
    box-sizing: border-box;
  }
  
  .container .block .ReactCodeMirror {
    height: 100%;
  }
  
  .error-container {
    position: absolute;
    bottom: 0;
    background: rgb(255, 0, 0);
    width: 100%;
    height: 200px;
    overflow: scroll;
    margin: 0;
  }
  
  .CodeMirror {
    height: 100%;
  }